{% extends "layouts/admincontent.html.twig" %}
{% block page_title %}Product Wijzigen{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            {{ include("components/dashboard/product/productedit/productformwijzig.html.twig") }}

        </div><!--/.col-md-12 -->
        <div class="col-md-1">
            &nbsp;
        </div>
    </div><!--/.row -->
{% endblock %}
