{% extends "layouts/admincontent.html.twig" %}
{% block page_title %}Gebruiker Wijzigen{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            {{ include("components/dashboard/user/useredit/userformwijzig.html.twig") }}

        </div><!--/.col-md-12 -->
        <div class="col-md-1">
            &nbsp;
        </div>
    </div><!--/.row -->
    <script type="text/javascript">

    </script>
{% endblock %}
