<!-- Footer -->
<footer class="navbar-fixed-bottom">
    <div class="container">
        <p>Copyright &copy; GO-AO Webshops - <a href="algemeen.php"><b>Algemene voorwaarden</b></a></p>
    </div>
</footer>
