<div class="row">
    <ol class="breadcrumb">
        <li><a href="index.php"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">{{ page|raw }}</li>
    </ol>
</div><!--/.row-->
